
# ====================== General aliases ======================

# Alias for sourcing bash profile
alias sbp='source ~/.bash_profile'

# Alias for opening bash profile
alias vbp='nvim ~/.bash_profile'

# Alias for for printing all aliases
alias aliases='alias'

# ====================== Apple related aliases ======================

# Add aliases for showing and hiding hidden files globally
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'

# ====================== Mounting HPC related aliases ======================

alias mountCosma6='mkdir /Volumes/cosma6 && sshfs -o allow_other -o ssh_command="ssh -i ~/.ssh/id_rsa" dc-rope1@login7.cosma.dur.ac.uk:/cosma6/data/dp004/dc-rope1/ /Volumes/cosma6'

# ====================== Directory aliases ======================

alias .\Uni='/Documents/University/'

# ====================== LS aliases ======================

# Define an alias to the old ls with -ltr args
alias ltr='ls -ltr'

# Useful old ls alias
alias ll='ls -alF'

# Replace ls with exa
alias ls='eza --icons -F -H --group-directories-first --git -1'
alias lst='ls --tree'

# ====================== Du aliases ======================

alias du='dust'

# ====================== cat aliases ======================

alias cat='bat'

# ====================== cd aliases ======================

alias cd='z'

# ====================== Git aliases ======================

# Add an alias for git status
alias gs='git status'

# Add an alias for git log
alias gl='git log'

# Add an alias for git diff
alias gd='git diff'

# Add an alias for git add
alias ga='git add'

# Add an alias for git commit
alias gc='git commit'

# Add an alias for git push
alias gp='git push'

# Add an alias for git pull
alias gpl='git pull'

# Add an alias for git checkout
alias gco='git checkout'

# Add an alias for git branch
alias gb='git branch'

# Add an alias for git merge
alias gm='git merge'

# Add an alias for git clone
alias gcl='git clone'

# ====================== Helper scripts ======================

alias pip-clean='~/dotfiles/scripts/clean_py_project_install.sh'


# ====================== Emacs aliases ======================

alias kill-emacs='emacsclient -e "(kill-emacs)"'
alias start-emacs='emacs --daemon'

# ====================== Python Environment aliases ======================

# Alias to create a new environment and create its alias
function create-py-env() {
    python -m venv ~/envs/$1
    echo "" >> ~/dotfiles/.aliases
    echo "# $1 environment" >> ~/dotfiles/.aliases
    echo "alias $1='source ~/envs/$1/bin/activate'" >> ~/dotfiles/.aliases
    source ~/.bash_profile
}

# Synthesizer
alias synthesizer-env='source ~/envs/synthesizer-env/bin/activate'

# Doom
alias doom-env='source ~/envs/doom-env/bin/activate'

# H5Forest
alias h5forest-env='source ~/envs/h5forest/bin/activate'

# dir-wand
alias dwand-env='source ~/envs/dwand-env/bin/activate'

# swift-env
alias swift-env='source ~/envs/swift-env/bin/activate'

# image-env
alias image-env='source ~/envs/image-env/bin/activate'

# general-env environment
alias general-env='source ~/envs/general-env/bin/activate'
