# Chezmoi age identity
# public key: age1pmsftlzm44lr74upjwz64jax5x724x7nwjfwmhg8mvs4laaeaars6agxhk
# Replace the next line with the password from the Apple Passwords entry.
AGE-SECRET-KEY-REPLACE-ME
